#body{
    background-color: #0B1D26;
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
}
#introdução{
    background-image:url(../imagens/projetos/introdução420.jpg);
    height: 14rem;
    background-size: cover;
    padding-bottom: 1rem;
}
#cor-imagem{
    width: 100%;
    height: 100%;
    background-color:rgba(12, 12, 61, 0.774);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}
#titulo-principal{
    font-family:"Nasa",Arial, Helvetica, sans-serif;
    font-size: 3rem;
    border-left: 4px rgb(184, 105, 2) solid;
    padding-left: 2.5rem;
}
#projetos-container{
    margin:1rem auto 0rem auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    width: 90%;
}
.projeto-container{
    height: 500px;
    width: 300px;
    background-color: rgb(1, 62, 88);
    margin: 3rem auto 5rem auto;
    box-shadow: #06111683 2px 1px 1px 1px;
    transition: transform 150ms ease-in 5ms;
}
.projeto-container:hover{
    cursor:pointer;
    transform: translateY(-10px);
}
.projeto-container:hover .seta{
    animation:arrow 600ms linear alternate infinite;
}
.imagem-container{
    height: 88%;
    background-position: center center;
}
.imagem-cor{
    height:100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.informações{
    height: 40%;
    margin:0rem 0.7rem 3rem 1.5rem;
    display:flex;
    align-items:flex-start
}
.categoria{
    text-align:center;
    width: fit-content;
    color: white;
    margin-bottom: 0.9rem;
    font-weight:bolder;
    border-radius:1px;
    padding:0.2rem 0.5rem;
}
.nome-projeto{
    background-color:transparent;
    color: white;
}
.descrição{
    color: white;
    font-family:sans-serif,Arial, Helvetica;
    margin-top: 0.8rem;
}
.clicar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(1, 62, 88);
    height: 59px;
    width:85%;
    margin:auto;
    padding-bottom:0.1rem;
}
.abrir{
    text-align: center;
    color:white;
    font-size:1.3rem;
    font-weight: lighter;
}
.seta{
    color: white;
    font-size:1.5rem;
    margin-right:0.6rem;
}


#artemis-descrição{
    display:none;

}
#james-web-descrição{
    display: none;
}
.descrição-imagem{
    height: 80vh;
    padding:10vh 0vh;
    width: 65%;
}
.descrição-conteudo{
    background-color: rgb(228, 228, 228);
    width:100%;
    padding:1.5rem 2rem 1.5rem 3rem;
}
.sair-container{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top:1rem;
}
.cruz{
    cursor: pointer;
    transition:transform 200ms linear;
}
.cruz:hover{
    transform: scale(1.2,1.2);
}
.descrição-categoria{
    width: fit-content;
    color: white;
    margin:2rem 0rem;
    font-weight:bolder;
    border-radius:1px;
    padding:0.2rem 1rem;
    background-color:rgb(237,27,47);
}
.descrição-titulo{
    color: rgb(49, 49, 134);
    font-family:Arial, Helvetica, sans-serif;
    font-size:2.5rem;
}
.descrição-texto{
    margin-top:1.5rem;
    font-size:1.5rem;
    font-family:Arial, Helvetica, sans-serif;
}
.verificar-projeto{
    margin:1rem;
    font-size:1.1rem;
}
.link-projeto{
    color: rgb(49, 49, 134);
    text-decoration: none;
}
.link-projeto:hover{
    text-decoration:underline rgb(49, 49, 134);
}





@media(max-width:1450px){
    #projetos-container{
        width:95%
    }
    .projeto-container{
        width: 95%;
    }
}
@keyframes arrow{
    100%{
        transform: translateX(15px);
    }
}
